<tr>
  <td class="message" id='<%= dom_id message %>'>
    <span class="message_menu">
      <% if current_user && (current_user == message.user || current_user.admin?) && !@last_message %>
        <%= link_to "Delete message", topic_message_path(message.topic, message, :page => params[:page]), :method => :delete %>
      <% end %>
    </span>
    <span class="timestamp">
      Posted by <%= link_to "#{message.user.name}", message.user %> <%= time_ago_in_words(message.created_at) %> ago.
    </span><br />
    <span class="content"><%= message.content %></span>
  </td>
</tr>
