<h2>Reply to <%= "\"#{@topic.title}\"" %></h2>
<%= form_for [@topic, @message], :html => { :multipart => true } do |f| %>
  <%= render 'shared/form_messages', :object => f.object %>

  <div class="message_content">
    <%= f.label :content, :class => 'invisible' %>
    <%= f.text_area :content %>
  </div>
  <i>(3 chars minimum, 1000 chars maximum)</i>
  <br /><br />
  <%= f.fields_for :attaches do |a| %>
    <div>Attach: <%= a.file_field :data %><br />
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
