<table class="topic" summary="Topic thread">
  <tr>
    <td class="maintitle">
      <h1>
        <%= @topic.title %>
      </h1>
      <%= will_paginate @messages %>
      <table class="messages" summary="Topic messages">
        <%= render @messages %>
      </table>
      <%= will_paginate @messages %>
    </td>
  </tr>
</table>
<ul class="topicmenu">
  <%= render 'shared/topic_menu' %>
</ul>
